

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">プロ野球掲示板</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/tweets/new">投稿する <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_up">ユーザー一覧 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ログインユーザー名
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">投稿一覧</a>
          <a class="dropdown-item" href="#">プロフィール一覧</a>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_in">ログイン <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_up">新規登録 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  <% end %>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="npb-blog-title">プロ野球掲示板</h1>
  <p class="lead">好きなプロ野球の話題について語り会おう！！</p>
</div>
<div class="container">
  <div class="article-all"><p>投稿一覧</p></div>
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="card mt-4" style="width: 23rem;">
        <%= image_tag tweet.image, class: "card-img-top", alt: "..." %>
        <div class="card-body">
          <h5 class="card-title"><%=tweet.title %></h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">編集</a>
          <a href="#" class="card-link">削除</a>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div class="">
    <%= paginate(@tweets) %>
  </div>
</div>
<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <p>©️プロ野球掲示板</p>
  </div>
</footer>
