<div class="jumbotron">
  <h1 class="npb-blog-title text-white">プロ野球掲示板</h1>
  <p class="lead">好きなプロ野球の話題について語り会おう！！</p>
</div>
<div class="container">
  <%= render partial: "tweet", locals: { tweets: @tweets } %>
</div>

