<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">プロ野球掲示板</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">ログイン <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">新規登録 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="npb-blog-title">プロ野球掲示板</h1>
  <p class="lead">好きなプロ野球の話題について語り会おう！！</p>
</div>
<div class="container">
  <div class="article-all"><p>投稿一覧</p></div>
  <div class="row">
    <div class="card mt-4" style="width: 23rem;">
      <img src="https://www.nikkansports.com/baseball/column/takahara/news/img/201811120000576-w500_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">柳田半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 23rem;">
      <img src="https://gtomoblog.com/wp-content/uploads/2018/11/%E8%A8%98%E4%BA%8BNo.183%EF%BC%98.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">吉田半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 23rem;">
      <img src="https://www.asahicom.jp/articles/images/AS20190628004377_commL.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">サニブラウン半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 23rem;">
      <img src="https://i0.wp.com/mizharu.com/wp-content/uploads/2019/06/%E5%85%AB%E6%9D%91%E5%A1%81%E3%80%80%E3%80%80%E8%B5%A4%E6%9C%A8%E3%80%80%E3%83%80%E3%83%B3%E3%82%AF.png?resize=477%2C350&ssl=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">八村半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 23rem;">
      <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/o/ozuwardwalt/20180627/20180627220031.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">大迫半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 23rem;">
      <img src="http://fanblogs.jp/otochi/file/4/c3AtMDgwNzIyLTWnIA.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">室伏半端ないって</h5>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">編集</a>
        <a href="#" class="card-link">削除</a>
      </div>
    </div>
  </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center py-4">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <p>©️プロ野球掲示板</p>
  </div>
</footer>
