<!-- メイン -->
<main>
  <!-- お問合せフォーム -->
  <div class="py-3">
    <div class="container">
      <h1 class="mb-3 text-center">新規投稿</h1>
      <!-- フォーム -->
      <%= render partial: "form", locals: { tweet: @tweet } %>
      <!-- /フォーム -->
    </div>
  </div>
  <!-- / お問合せフォーム -->
</main>
<!-- /メイン -->
