<div class="jumbotron">
  <% if @user.avatar.attached? %>
    <div class="user_image"><%= image_tag @user.avatar, class: "rounded-circle", id: "circle" %></div>
  <% else %>
    <div class="user_image"><%= image_tag "https://www.loginradius.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", class: "rounded-circle", id: "circle" %></div>
  <% end %>
  <h1><span class="badge badge-primary"><%= @user.name %>さんのマイページ</span></h1>
</div>
<div class="container">
  <%= render partial: "tweets/tweet", locals: { tweets: @tweets } %>
</div>
