@import "modules/*";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}